.chart {
    padding: 1rem;
    border-radius: 12px;
    background-color: #f5f5f5;
    text-align: center;
    display: flex;
    justify-content: space-around;
    height: 10rem;
    color: #3e3e3e;
}