.new-expense__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
    text-align: left;
}

.new-expense__control label {
    font-weight: bold;
    display: block;
}

.new-expense__control input {
    font: inherit;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 20rem;
    max-width: 100%;
}

.new-expense__actions {
    width: 20rem;
    margin-top: 1rem;
    text-align: right;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.cancel-button,
.add-button {

    display: flex;
    justify-content: center;
    align-items: center;

    height: 3rem;
    font: inherit;
    cursor: pointer;
    padding: 0rem 1rem;
    border: 1px solid #f58402;
    background-color: #f58402;
    color: white;
    border-radius: 12px;
    margin-right: 1rem;
}

.cancel-button {
    border: 1px solid #f58402;
    background-color: white;
    color: #f58402;
}


.add-button:hover {
    background-color: #ff6a00;
    border-color: #ff6a00;
}

.cancel-button:hover {
    background-color: #ff6a00;
    color: white;
}